@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --animate-spin-slow: spin 3s linear infinite;
  --animate-ping-slow: ping 3s cubic-bezier(0, 0, 0.2, 1) infinite;
  --animate-progress-indeterminate: progress-indeterminate 1.5s infinite linear;

  @keyframes progress-indeterminate {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(200%);
    }
  }
}

:root {
  --background: #f8fafc; /* slate-50 */
  --foreground: #0f172a; /* slate-900 */

  --card: #ffffff;
  --card-foreground: #0f172a;

  --popover: #ffffff;
  --popover-foreground: #0f172a;

  --primary: #0891b2; /* cyan-600 */
  --primary-foreground: #ffffff;

  --secondary: #f1f5f9; /* slate-100 */
  --secondary-foreground: #0f172a;

  --muted: #f1f5f9; /* slate-100 */
  --muted-foreground: #64748b; /* slate-500 */

  --accent: #f1f5f9; /* slate-100 */
  --accent-foreground: #0f172a;

  --destructive: #ef4444;
  --destructive-foreground: #f8fafc;

  --border: #e2e8f0; /* slate-200 */
  --input: #e2e8f0;
  --ring: #0891b2; /* cyan-600 */

  --radius: 0.5rem;
}

.dark {
  --background: #020617; /* slate-950 */
  --foreground: #f8fafc; /* slate-50 */

  --card: #0f172a; /* slate-900 */
  --card-foreground: #f8fafc;

  --popover: #0f172a;
  --popover-foreground: #f8fafc;

  --primary: #22d3ee; /* cyan-400 */
  --primary-foreground: #020617;

  --secondary: #1e293b; /* slate-800 */
  --secondary-foreground: #f8fafc;

  --muted: #1e293b; /* slate-800 */
  --muted-foreground: #94a3b8; /* slate-400 */

  --accent: #1e293b; /* slate-800 */
  --accent-foreground: #f8fafc;

  --destructive: #7f1d1d;
  --destructive-foreground: #f8fafc;

  --border: #1e293b; /* slate-800 */
  --input: #1e293b;
  --ring: #22d3ee; /* cyan-400 */
}

@layer base {
  *,
  ::after,
  ::before {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground transition-colors duration-300;
  }
}
